<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

	<h1>Buildings</h1>

	<table>
		<th>Maps</th>

		<td id="1">Event 1</td>
		<td>Event 2</td>
		<td>Event 3</td>
		
	</table>


</body>
</html>
</html>