<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>
    <li>
        <ul id="0">
            <h3>event 1</h3>
            <p>event description</p>
        </ul>
        <ul id="1">
            <h3>event 2</h3>
            <p>event description</p>
        </ul>
        <ul id="2">
            <h3>event 3</h3>
            <p>event description</p>
        </ul>
    </li>
</body>
</html>