<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>
    <li>
        <ul>
            <% Event.forEach(e => { %>
            <li>
            <h3><%= e.event %></h3>
            <p><%= e.description%></p>
                <form action="/messages/delete/<%= m._id %>" method="POST" style="display:inline;">
                    <button>Delete</button>
                </form>
                <a href="/messages/edit/<%= m._id %>">
                    <button type="button">Edit</button>
                </a>
            </li>
            <% }) %>
        </ul>
    </li>
</body>
</html>