<!DOCTYPE html>
<html>
<head>
  <title>Edit Message</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Edit Message</h1>

  <form action="/messages/edit/<%= message._id %>" method="POST">
    
    <input name="user" value="<%= message.message %>">
    <br>
    <br>
    <input name="password" value="<%= message.message %>">
    <br>
    <br>
    <button type="submit">Login</button>
    <a href="/">Cancel</a>
  </form>
</body>
</html>
