<!DOCTYPE html>
<html>
<head>
  <title>Map Homepage</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

	<img src="./Campus Map.jpg" alt="Westridge Map">

	<button name="login">Admin Login</button>

</body>
</html>